---
import Hero from './sections/Hero.astro';
import About from './sections/About.astro';
import Gallery from './sections/Gallery.astro';
import Services from './sections/Services.astro'; // Esta é a sua Abordagem/O que eu faço
import Tools from './sections/Tools.astro';
import CV from './sections/CV.astro';
import Contact from './sections/Contact.astro';
import Footer from './sections/Footer.astro';
---

<div class="bg-black flex flex-col items-center overflow-x-hidden">
    <div class="w-full py-4"><Hero /></div>
    <div class="w-full h-[1px] bg-white/5 max-w-7xl mx-auto"></div>
    
    <div class="w-full py-4"><About /></div>
    <div class="w-full h-[1px] bg-white/5 max-w-7xl mx-auto"></div>
    
    <div class="w-full py-4"><Gallery /></div>
    <div class="w-full h-[1px] bg-white/5 max-w-7xl mx-auto"></div>
    
    <div class="w-full py-4"><Services /></div>
    <div class="w-full h-[1px] bg-white/5 max-w-7xl mx-auto"></div>
    
    <div class="w-full py-4"><Tools /></div>
    <div class="w-full h-[1px] bg-white/5 max-w-7xl mx-auto"></div>
    
    <div class="w-full py-4"><CV /></div>
    <div class="w-full h-[1px] bg-white/5 max-w-7xl mx-auto"></div>
    
    <div class="w-full py-4"><Contact /></div>
    <div class="w-full"><Footer /></div>
</div>
